<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Video</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to custom CSS -->
</head>
<body class="bg-light">
    <header class="bg-primary text-white p-3 d-flex justify-content-between align-items-center">
        <div class="logo">Speaking Bot</div>
        <div class="user-info d-flex align-items-center">
            <img src={{ current_user.picture }} alt="Profile" class="rounded-circle" width="40" height="40">
            <span class="ml-2">{{ current_user.name }}</span>
        </div>
    </header>
    <div class="container">
        <h1 class="text-center mt-5">Upload Video for Analysis</h1>
        <form method="post" enctype="multipart/form-data" action="/upload/" class="mt-4">
            <div class="form-group">
                <input type="file" name="file" accept=".mp4,.avi,.mov,.mkv" required class="form-control-file">
            </div>
            <button type="submit" class="btn btn-success btn-block">Upload</button>
        </form>
    </div>
    <footer class="bg-light text-center p-3 mt-5">
        <p>Made with ❤️ by Vansh Kapoor</p>
    </footer>
</body>
</html>
